body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0;
}
.box {
    display: grid;
    grid-template-areas:
    "menu-box title-box title-box"
    "menu-box main-box contents-box"
    "menu-box additional-box contents-box";
    grid-template-columns: 20% 60% 20%;
}

.menu-box {
    grid-area: menu-box;
}

.title-box {
    grid-area: title-box;
}

.main-box {
    grid-area: main-box;
}

.additional-box {
    background: url("../images/watter-pattern-opacity-20.png");
    grid-area: additional-box;
}

.contents-box {
    grid-area: contents-box;
}

.menu-box, .contents-box{
    background: #e2cb87 url("../images/sakura_pattern_oppacity_20.png");
}

.main-box, .title-box {
    background: url("../images/sky_pattern_opacity_40.png")
}

header, footer {
    background: blanchedalmond url("../images/bar_pattern_oppacity_50.png");
    min-height: 20vh;
    font-size: calc(0.75vh + 0.75vw);
}

header {
    display: grid;
    align-items: center;
    padding-left: 10%;
}
footer {
    display: grid;
    justify-items: end;
    align-items: center;
    padding-right: 10%;
}

.menu-box {
    padding: 11vh 10% 0 10%;
}

.contents-box {
    padding: 3vh 10% 0 10%;
}

.menu-box, .contents-box {
    font-size: calc(0.9vh + 0.9vw);
}

.title-box, .additional-box {
    padding: 0 10% 0 10%;
    font-size: calc(0.8vh + 0.8vw);
    text-align: center;
}

.main-box {
    padding: 0 10% 0 10%;
    font-size: calc(0.9vh + 0.9vw);
}

img {
    height: auto;
    max-width: 100%;
}

.additional-box {
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: red;
}