:root {
    --head-foot-size: 20vh;
    --main-tag-size: calc(100vh - 2 * var(--head-foot-size));
    --menu-size: var(--main-tag-size);
    --content-conteiner-size: var(--main-tag-size);
    --10th-size-section: calc(var(--main-tag-size) * 1 / 6);
    --main-window-size: calc(var(--main-tag-size) -
    2 * var(--10th-size-section));
    --current_section-content-size: calc(var(--content-conteiner-size) - var(--10th-size-section));
    --other-content-size: var(--current_section-content-size);

}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    background: blanchedalmond url("images/bar_pattern_oppacity_50.png");
    min-height: var(--head-foot-size);
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#header-text {
    padding-left: 10%;
}

main {
    min-height: var(--main-tag-size);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#menu {
    /*background: #f0d1cb url("images/menu_pattern_opacity_50.png");*/
    background: #e2cb87 url("images/sakura_pattern_oppacity_20.png");
    min-height: var(--menu-size);
    width: 25%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 9em;
}

#content-container {
    min-height: var(--content-conteiner-size);
    width: 75%;
    display: flex;
    flex-flow: column wrap;
}

#current-section-title {
    background: url("images/sky_pattern_opacity_40.png");
    min-height: var(--10th-size-section);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#current-section-content {
    min-height: var(--current_section-content-size);
    width: 100%;
    display: flex;
    flex-grow: 1;
}

#main-and-additional-info {
    min-height: var(--current_section-content-size);
    width: 75%;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#main-window {
    background: url("images/sky_pattern_opacity_40.png");
    min-height: var(--main-window-size);
    width: 100%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#additional-info {
    background: url("images/watter-pattern-opacity-20.png");
    min-height: var(--10th-size-section);
    width: 100%;
    /*flex-grow: 1;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

#other-content {
    background: #e2cb87 url("images/sakura_pattern_oppacity_20.png");
    min-height: var(--other-content-size);
    width: 25%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

footer {
    background: blanchedalmond url("images/bar_pattern_oppacity_50.png");
    width: 100%;
    min-height: var(--head-foot-size);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#footer-text {
    padding-right: 10%;
}

.content-padding {
    padding-left: 15%;
    padding-right: 15%;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: red;
}

.main-window-ul-style {
    font-size: 1.4em;
}