* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0;
}



@media (min-width: 320px) {
    .box {
        display: grid;
        grid-template-areas:
    "menu-box"
    "title-box"
    "contents-box"
    "main-box"
    "additional-box";
    }

    header, footer {
        padding: 1rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;
        text-align: center;
    }

    .menu-box {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .menu-box ol, .menu-box ul, .contents-box ul {
        font-size: 1.2rem;
    }

    .title-box {
        padding: 1rem;
        text-align: center;
        font-size: 0.8rem;
    }

    .contents-box {
        padding: 1rem;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-box {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .additional-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        text-align: center;
    }
}



@media (min-width: 550px) {
    .box {
        display: grid;
        grid-template-areas:
    "menu-box title-box title-box"
    "menu-box main-box contents-box"
    "menu-box additional-box contents-box";
        grid-template-columns: 20% 60% 20%;
    }

    header, footer {
        min-height: 20vh;
        font-size: calc(0.75vh + 0.75vw);
        display: grid;
    }

    header {
        align-items: center;
        padding-left: 10%;
    }

    footer {
        justify-items: end;
        align-items: center;
        padding-right: 10%;
    }

    .menu-box {
        padding: 6rem 10% 0 20%;
    }

    .contents-box {
        padding: 3rem 10% 0 15%;
    }

    .menu-box br {
        margin: 1rem;
    }

    .menu-box ol, .menu-box ul, .contents-box ul{
        font-size: 1.9rem;
    }

    .menu-box h1, .contents-box h1 {
        font-size: 2rem;
    }

    .title-box, .additional-box {
        min-height: 10vh;
    }

    .title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(0.8vh + 0.8vw);
        text-align: center;
    }

    .main-box {
        padding: 0 15% 0 15%;
        font-size: calc(0.9vh + 0.9vw);
    }

    .additional-box {
        display: flex;
        flex-direction: column;
        padding: 2% 15% 2% 15%;
        font-size: calc(1vh + 1vh);
        text-align: center;
    }
}

.menu-box {
    grid-area: menu-box;
}

.title-box {
    grid-area: title-box;
}

.main-box {
    grid-area: main-box;
}

.additional-box {
    background: url("../images/watter-pattern-opacity-20.png");
    grid-area: additional-box;
}

.contents-box {
    grid-area: contents-box;
}

.menu-box, .contents-box{
    background: #e2cb87 url("../images/sakura_pattern_oppacity_20.png");
}

.main-box, .title-box {
    background: url("../images/sky_pattern_opacity_40.png")
}

header, footer {
    background: blanchedalmond url("../images/bar_pattern_oppacity_50.png");
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}